#work-section{
    .cartoon{
        height: 500px;
    }
    .custom-icon{
        font-size: 50px;
        color: #000;
    }
    .bg-shadow{
        box-shadow: rgba(149, 151, 149, 0.4) -5px 5px, rgba(179, 182, 179, 0.3) -10px 10px, rgba(228, 230, 228, 0.2) -15px 15px, rgba(219, 226, 224, 0.1) -20px 20px, rgba(113, 116, 114, 0.05) -25px 25px;
    }
}